<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>owner's page</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>

        <div class="header">
                <div class="header-top">
                    <div class=members>
                        <span class="member">
                            <a href="user/">
                            users</a>
                        </span
                        ><span class="member">
                            <a href="{% url 'login' %}">owners</a>
                        </span>
                    </div>
                </div>
                <h1 class=page-title>Watcher</h1>
                <div class="header-bottom">
                    <h3 class=member-title>Owner's page</h3>
                </div>
            </div>
            <main class="main">
        
            </main>
        
            <div class="footer">
                <hr>
                <div class="copyright" >Copyright © 2018 Watcher All rights reserved.</div>
            </div>
</body>
</html>