<!DOCTYPE html>
<html lang="en">
<head>

    <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-125503275-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-125503275-1');
</script>


    <meta charset="UTF-8">
    <title>owner's login page</title>
    {% load static %}
    <link rel="stylesheet" href="{%  static 'ownerPage/style.css' %}">
    <link rel="stylesheet" href="{%  static 'ownerPage/login.css' %}">

</head>
<body>
  <div class="header">
    <div class="header-top">
        <div class=members>
            <span class="member">
                <a href="user/">
                users</a>
            </span
            ><span class="member">
                <a href="">owners</a>
            </span>
        </div>
    </div>
    <h1 class=page-title>Watcher</h1>
    <div class="header-bottom">
        <h3 class=member-title>Owner's page</h3>
    </div>
  </div>
      <main class="login">
        <div class="login__login-tab">
          <form method="post" action="{% url 'login' %}" class="sign-in-form">
            {%csrf_token%}
            {% if form.errors %}
            <p>Your username and password didn't match. Please try again.</p>
            {% endif %}
            {% if next %}
                {% if user.is_authenticated %}
                <p>Your account doesn't have access to this page. To proceed,
                please login with an account that has access.</p>
                {% else %}
                <p>Please login to see this page.</p>
                {% endif %}
            {% endif %}
            <div class="form-group">
              <label for="{{ form.username.id_for_label }}">id</label>
              <input class="form-control" id="{{ form.username.id_for_label }}" maxlength="15" name="{{ form.username.html_name }}" type="text" placeholder="ID"/>
            </div>
            <div class="form-group">
              <label for="{{ form.password.id_for_label }}">password</label>
              <input class="form-control" id="{{ form.password.id_for_label }}" maxlength="120" name="{{ form.password.html_name }}" type="password" placeholder="Password" />
            </div>
            <input class="login-button" type="submit" class="save btn btn-success" value="login">
            <a href="{% url 'index' %}">
              <button type="button" class="btn btn-danger">go back</button>
            </a>
            <input type="hidden" name="next" value="{{ next }}" />
          </form>
        </div>
      </main>
        
  <div class="footer">
    <hr>
    <div class="copyright" >Copyright © 2018 Watcher All rights reserved.</div>
  </div>
</body>
</html>