<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Global Site Tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=GA_TRACKING_ID"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'GA_TRACKING_ID');
</script>
    <meta charset="UTF-8">
    <title>main</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'ownerPage/style.css' %}">
</head>
<body>
    <div class="header">
        <div class="header-top">
            <div class=members>
                <span class="member">
                    <a href="user/">
                    users</a>
                </span
                ><span class="member">
                    <a href="owner/login">owners</a>
                </span>
            </div>
        </div>
        <h1 class=page-title>Watcher</h1>
        <div class="header-bottom">
            <nav class="nav-bar">
                <ul class="nav-bar__items">
                        <li class="nav-bar__item"><a href="">main</a></li>
                        <li class="nav-bar__item"><a href="">about</a></li>
                        <li class="nav-bar__item"><a href="">contact</a></li>
                    </ul>
            </nav>
        </div>
    </div>
    <main class="index">

    </main>

    <div class="footer">
        <hr>
        <div class="copyright" >Copyright © 2018 Watcher All rights reserved.</div>
    </div>



</body>
</html>